.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Nav header  */
.logo-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 17px;
}

.app-logo {
  width: 50px;
  height: auto;
}

.logo-text {
  margin-left: 18px;
  font-weight: 600;
  font-size: 25px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 20px;
  background-color: #fff;
  list-style: none;
  margin-top: -50px;
}

.nav-list li {
  background-color: #fff;
  margin: 15px;
  position: relative;
}

.active-link {
  position: relative;
}

.active-link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #2e61ae;
}

a {
  text-decoration: none;
}

/* Vertical Line  */
.upbar {
  padding-right: 1rem;
  font-size: 1rem;
  margin-top: 15px;
}

/* Horizontal Line  */
.hr {
  border-top: 1px solid #b3b2b2;
  margin-bottom: 12px;
  margin-top: 15px;
  margin-right: 20px;
  margin-left: 20px;
}

/* Nav header END  */

/* MISSIONS */

/* Missions table container */
.missions-table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
}

/* Profile */
.profile-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* joined missions */
.joined-missions-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10px;
  width: 30%;
}

.mission-title {
  margin-left: 20px;
}

/* joined missions END */

/* Rocket */
.rimg {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-bottom: 192px;
  height: 179px;
}

.rnd {
  display: flex;
  flex-direction: column;
  margin-top: -345px;
  margin-left: 50px;
  margin-bottom: 80px;
}

.rdesk {
  font-size: 17px;
  margin-left: 400px;
  margin-right: 50px;
}

.button {
  background-color: blue;
  width: 150px;
  margin-left: 400px;
  margin-bottom: 20px;
}

.rname {
  margin-left: 400px;
  margin-top: -34px;
  margin-bottom: 10px;
}

.align-button {
  display: flex;
  align-items: flex-end;
  width: 150px;
  margin-left: 403px;
}

.rocketImg {
  flex: 1;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 45px;
}

.reserved-span {
  color: white;
  width: 50px;
  background: rgb(16, 182, 160);
  font-size: 12px;
  padding: 2px 3px;
  border-radius: 5px;
  margin-bottom: 2px;
}

/* Align the reserved rockets section at the end */
.reserved-rockets-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 40%;
  margin-right: 5%;
  width: 30%;
}

.rocket-title {
  align-items: center;
  justify-content: center;
}

.empty-rocket {
  margin-left: -364px;
}
