.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 17px;
}

.app-logo {
  width: 50px;
  height: auto;
}

.logo-text {
  margin-left: 20px;
  font-weight: 700;
  font-size: 25px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 20px;
  background-color: #fff;
  list-style: none;
  margin-top: -50px;
}

.nav-list li {
  background-color: #fff;
  margin: 15px;
}

a {
  text-decoration: none;
}

.upbar {
  padding-right: 1rem;
  font-size: 1rem;
  margin-top: 15px;
}

/* Mission table */
.missions-table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
}
