.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Nav header  */
.logo-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 17px;
}

.app-logo {
  width: 50px;
  height: auto;
}

.logo-text {
  margin-left: 18px;
  font-weight: 600;
  font-size: 25px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 20px;
  background-color: #fff;
  list-style: none;
  margin-top: -50px;
}

.nav-list li {
  background-color: #fff;
  margin: 15px;
}

a {
  text-decoration: none;
}

/* Nav header END  */

/* Vertical Line  */
.upbar {
  padding-right: 1rem;
  font-size: 1rem;
  margin-top: 15px;
}

/* Horizontal Line  */
.hr {
  border-top: 1px solid #b3b2b2;
  margin-bottom: 12px;
  margin-top: 15px;
  margin-right: 20px;
  margin-left: 20px;
}

/* Missions table container */
.missions-table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
}

/* Rocket */
.rimg {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-bottom: 192px;
  height: 179px;
}

.rnd {
  display: flex;
  flex-direction: column;
  margin-top: -345px;
  margin-left: 35px;
  margin-bottom: 60px;
}

.rdesk {
  margin-left: 400px;
  margin-right: 50px;
}

.button {
  background-color: blue;
  width: 150px;
  margin-left: 400px;
  margin-bottom: 20px;
}

.rname {
  margin-left: 400px;
  margin-top: -34px;
  margin-bottom: 10px;
}

.align-button {
  display: flex;
  align-items: flex-end;
  width: 150px;
  margin-left: 403px;
}

.rocketImg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: -32px;
  margin-right: 45px;
}
